In [2]:
def hi():
    print('hi')

In [3]:
hi()

hi

# Let's get real.

So this is the real code to use. Where I import my CSV, do manipulation. It's the only way to black box what spits out on the other side. The data is from Dgomonov, a user on Kaggle. "NYC AirBnB open data"

In [4]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

Let's first set a global, called i. We will call this to grab from our Excel file.

In [5]:
i = 0

In [7]:
df = pd.read_csv('/Users/elliotallard/Documents/OneDrive/Documents/Art/DataGardens/faketuring/content.csv')
df.columns = ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review']
# print(df)

In [8]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review
0,53137,"Quiet, sunny Midtown Manhattan apt.",240360,Marlaine,Manhattan,Hell's Kitchen,40.76244,-73.99271,Entire home/apt,195,5,10,7/1/19
1,53196,Big Room/Washer-Dryer/Wifi/AC/JMZ,247432,Charlotte,Brooklyn,Bedford-Stuyvesant,40.69546,-73.93503,Private room,80,2,11,11/13/17
2,53469,cozy studio with parking spot,204539,Mark,Queens,Middle Village,40.71722,-73.87856,Entire home/apt,98,30,33,5/9/15
3,53470,Clean and convenient 2BR apartment,204539,Mark,Queens,Ridgewood,40.70234,-73.89816,Private room,140,7,6,10/8/15
4,17693,"HARLEM, NEW YORK WELCOMES YOU!!",68428,Tye And Etienne,Manhattan,Washington Heights,40.83139,-73.94095,Private room,65,2,49,6/18/19

In [20]:
def speak(whatever):
    if 'where' in whatever:
        return df['neighbourhood'].sample(n=1).iloc[0]
    if "what" in whatever:
        return df['name'].sample(n=1).iloc[0]
    if 'who' in whatever:
        return df['host_name'].sample(n=1).iloc[0]
    if 'how' in whatever:
        return df['room_type'].sample(n=1).iloc[0]
    if 'show' in whatever:
        return df['name'].sample(n=6).iloc[0:5]
    if 'book' in whatever:
        return "Your hotel will cost " + str(df['price'].sample(n=1).iloc[0]) + " dollas."
    else:
        return 'Please wait'

In [12]:
speak("book time is it")

'Your hotel will cost 1    80\nName: price, dtype: int64'

In [19]:
df['price'].sample(n=6).iloc[0:5]

4      65
0     195
13    189
5     100
2      98
Name: price, dtype: int64

In [36]:
speak("what other options are there?")

6    Greenwich Village Stylish Apartment
Name: name, dtype: object

In [37]:
speak("hmmm maybe not that one. what else?")

7    The gem of the East Village
Name: name, dtype: object

In [38]:
speak("I like that one. Reserve it!")

'Please wait'

In [39]:
speak("I like that one. Who owns it?")

'Please wait'

In [31]:
speak("I like that one. who owns it?")

12    Amit
Name: host_name, dtype: object

In [1]:
speak("they sound nice. ")

NameError: name 'speak' is not defined